.blog-slider {
  text-align: left;
  .name-sect {
    display: block;
    .title {
      color: #D58E32;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;

    }
    hr {
      color: #E2E2E2;
      position: relative;
      margin: 15px 0 0 0;
    }

  }
  .carousel-indicators {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 0;
    top: -17px;
  }

  .carousel-indicators .active {
    background-color: #D58E32;

  }

  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #e2e2e2;
    opacity: 1;
    margin: 0 5px;
  }


  .blog-item {
    width: 360px;
    height: 543px;
    position: relative;

    img {
      height: 290px;
      width: 360px;
    }

    .block-item-text {
      position: absolute;
      left: 30px;
      bottom: 0;
      width: 300px;
      height: 312px;
      margin: 0 auto;
      background-color: #fff;

      .icons {
        font-size: 13px;
        display: flex;
        padding: 22px;
        justify-content: space-between;
        align-items: center;
      }

      .text {
        width: 276px;

        .title {
          color: #D58E32;
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 19px 0;
        }

        .description {
          font-size: 14px;
          font-weight: 400;
          color: #676767;
        }
      }

      .read-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .read-more-button {
          color: #fff;
          width: 165px;
          height: 45px;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #2A2A2A;
          z-index: 16;
          text-decoration: none;
        }
        .read-more-button:hover {
          background-color: #D58E32;
        }
      }
    }
  }
}