.furniture__filters {
  &__furniture {
	display: inline-block;
	color: #fff;
	padding: 5px 8px;
	background: #2a2a2a;
	border-radius: 50%;
  }

  &-categories {
	margin: 30px 0;
	padding-left: 15px;

	&-item {
	  color: #2a2a2a;
	  padding-bottom: 15px;
	  display: block;
	  list-style: none;

	}

	:hover {
	  text-decoration: none;
	  color: $golden;
	}

  }

  &-color {
	margin: 30px 0;
	padding-left: 15px;

	&-item {
	  color: #2a2a2a;
	  padding-bottom: 5px;
	  display: block;
	  list-style: none;

	  & label {
		padding: 0;
		padding-left: 5px;
	  }
	}
  }

  &-red {
	& input[type=checkbox] + label:before {
	  background: #f00;
	  border: 0.1rem solid #f00;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: red;
	  border-color: red;
	  color: #fff;
	}
  }

  &-black {
	& input[type=checkbox] + label:before {
	  background: #000;
	  border: 0.1rem solid #000;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: #000;
	  border-color: #000;
	  color: #fff;
	}
  }

  &-yellow {
	& input[type=checkbox] + label:before {
	  background: yellow;
	  border: 0.1rem solid yellow;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: yellow;
	  border-color: yellow;
	  color: #000;
	}
  }

  &-blue {
	& input[type=checkbox] + label:before {
	  background: blue;
	  border: 0.1rem solid blue;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: blue;
	  border-color: blue;
	  color: #fff;
	}
  }

  &-pink {
	& input[type=checkbox] + label:before {
	  background: pink;
	  border: 0.1rem solid pink;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: pink;
	  border-color: pink;
	  color: #fff;
	}
  }

  &-green {
	& input[type=checkbox] + label:before {
	  background: green;
	  border: 0.1rem solid green;
	}
	& input[type=checkbox]:checked + label:before {
	  background-color: green;
	  border-color: green;
	  color: #fff;
	}
  }

}

input[type=checkbox] + label {
  display: block;
  margin: 0.2rem;
  cursor: pointer;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1rem solid #000;
  border-radius: 0.2rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.2rem;
  padding-bottom: 0.3rem;
  margin-right: 0.2rem;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

