@import "../var";

.fa-sync{
  font-size: 26px;
  color: #000;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 50%;

}

.furniture--hidden {
	display: none;
}

.furniture {
	.filter-by-size {
		input {
			display: inline-block;
		}
		display: flex;
		p {
			margin: -5px;

		}

		margin: 0;
		height: 30px;
		input {
			margin-right: 10px;
		}
	}

	h5 {
		text-transform: uppercase;
		font-size: 16px;
		color: #2A2A2A;
		font-weight: 400;
	}

  margin-bottom: 50px;
//   &__box{
// 	display: none;
//   }
  &__title {
	font-size: 30px;
	font-weight: bold;
  }
  &__btn-circle{
	display: block;

  }

  &__card {
	margin: 0 auto;
	max-width: 230px;

	&:hover .furniture__card-price {
	  background: $golden;
	}

	&:hover .furniture__card-title {
	  color: $golden;
	}

	&:hover .furniture__card-cart {
	  display: flex;
	}

	&-img {
	  position: relative;
	  width: 262px;
	  height: 260px;
	  padding: 5px;
	  background-color: #f4f5f7;
	}

	&-title {
	  font-size: 16px;
	  font-weight: bold;
	}

	&-line {
	  background: #000;
	}

	&-price {
	  float: right;
	  font-weight: bold;
	  background: #000;
	  color: #fff;
	  padding: 6px;
	}

	&-exch {
	  border: 1px solid #000;
	}

	&-fav {
	  border: 1px solid #000;

	  &:hover {
		color: $golden;
		border: $golden;
	  }
	}

	&-cart {
	  display: none;
	  position: absolute;
	  bottom: 158px;
	  font-size: 11pt;
	  padding: 0 10px;
	  width: 100%;
	}

	&-view {
	  font-size: 12px;
	  background: #2a2a2a;
	  color: white;
	  padding: 12px 8px;
	}

	&-basket {
	  @extend .furniture__card-view
	}

	&__filters-title {
	  font-size: 14pt;
	  font-weight: 500;
	}
  }
	.tags-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.tag {
			padding: 10px 8px;
			font-size: 14px;
			color: #959595;
			margin: 6px;
			border: 1px solid #959595;
			text-decoration: none;
			transition: 100ms;

			.fa-tags {
				font-size: 12px;
			}

		}
		.tag:hover {
			color: orange;
			border-color: orange;
			transition: 100ms;
		}
	}

}

