.prepend--bg {
  background: white;
  position: relative;
  color: $hover-color;
}

.btn-arrow--color {
  color: $hover-color;
}

.newsletter-title {
  color: $hover-color;
  display: none;
  font-size: 14px;
}

.newsletter {
  padding: 35px 0;
  background-color: #f2f2f2;
}

.newsletter .row {
  justify-content: center;
}

.in-2 {
  display: none;
}

.newsletter-form--font-size {
  font-size: 8px;
}

.prepend--bg::before {
  content: "|";
  width: 5px;
  height: 3px;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);

  color: gainsboro;
}

@media screen and (min-width: 460px) {
  .newsletter-title {
    display: block;
  }

  .in-1 {
    display: none;
  }

  .in-2 {
    display: inline-block;
  }

  .newsletter-form--font-size {
    font-size: 10px;
  }

  .prepend--bg::before {
    top: calc(50% - 7px);
  }
}

@media screen and (min-width: 768px) {
  .newsletter-form--font-size {
    font-size: 14px;
  }

  .newsletter .container-fluid {
    padding: 0 30px;
  }

  .newsletter-title {
    font-size: 20px;
    margin-right: 60px;
  }

  .prepend--bg::before {
    top: calc(50% - 11px);
  }
}
