* {
  transition: .2s;
}

.stocks {

  &__sofa {
	position: relative;
	max-width: 555px;
  }

  &__sofa-square {
	position: absolute;
	top: 18px;
	left: 20px;
	right: 18px;
	bottom: 32px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
  }

  &__room {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
  }

  &__room-sofa {
	display: block;
	font-size: 56px;
	line-height: 56px;
	margin-bottom: 10px;
  }

  &__discount {
	display: inline-block;
	padding: 10px;
	font-size: 46px;
	line-height: 36px;
	border: 5px solid #fff;
  }

  &__office-chair {
	background-color: #e8edf7;
	max-width: 555px;
  }

  &__heading {
	color: $golden;

  }

  &__price {
	color: $golden;
  }

  &__bed {
	background: #fbf3f7;
	max-width: 555px;
  }
}

@media screen and (max-width: 992px) {
  .stocks__sofa{
	position: relative;
  }
  .stocks__sofa-square {
	position: absolute;
	max-width: 555px;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
  }
}