.top-menu-search {
    background-color: #fff;
    font-size: 9px;
}
.top-menu .collapse {
    right: 15px;
    top: 0;
    z-index: 1;
}

.top-menu .navbar {
    background-color: white !important;
}

.top-menu .form-control {
    font-size: 9px;
}

.top-list.active {
    background-color: $hover-color !important;
    border-top: 3px solid black;
}

.top-list.active .nav-link {
    color: white;
}

.nav-pills .nav-link {
    padding: 13px 8px;
    color: black;
    font-size: 12px;
    border-bottom: none;
    border-radius: 0;
}

.top-menu .nav-pills {
    height: 3rem;
}

.top-menu .collapse .bg {
    background-color: #363636;
}

.tog-text {
    color: #a7a7a7;
    font-size: 9px;
    &:hover {
        color: white;
        border-bottom: 1px solid white;
    }
}

.bg {
    transition: none;
}

.top-menu .fa-times {
    color: white;
    font-size: 20px;
}

.collapse {
    transition: none !important;
}

.close-cross {
    right: 0;
}

.collapse-nav {
    margin-top: 50px;
}

@media screen and (min-width: 480px) {
    .top-menu .collapse .nav-link {
        font-size: 12px;
    }
}


@media screen and (min-width: 768px) {
   .top-menu .form-inline {
       width: 25% !important;
   }

   .top-menu .navbar {
       padding: 0 !important;
   }

}

@media screen and (min-width: 1200px) {
    .top-menu-search {
        font-size: 1rem;
    }

    .top-menu .form-control {
        font-size: 1rem;
    }

    .nav-pills .nav-link {
        padding: 26px 16px;
        font-size: 1rem;
    }

    .top-menu .nav-pills {
        height: 5rem;
    }
}

