@charset "UTF-8";
* {
  transition: 0.1s;
  box-sizing: border-box;
}

.nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}

.navbar--bg {
  background-color: #434343;
}

nav {
  font-size: 12px;
}

.br0 {
  border-radius: 0 !important;
}

.padmod {
  padding: 0 40px;
}

.btd0 {
  border: none !important;
}

.brdb0 {
  border-bottom: none;
}

@media screen and (min-width: 480px) {
  nav {
    font-size: 14px;
  }
}
.header {
  background-color: #363636;
}

.header .fa-mobile-alt {
  color: #d58e32;
}

.header-phone__text {
  color: white;
  font-size: 12px;
}

.header-phone__text:hover {
  color: white;
}

.header__logo {
  width: 30%;
}

.header-bin__wrapper {
  color: white;
  font-size: 14px;
}

.bin-count {
  font-size: 9px;
}

.header-bin {
  background-color: #d58e32;
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
}

.header-bin::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  right: -11px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 60px;
  background-color: #363636;
}

.header .fa-shopping-basket {
  color: white;
}

.modal-close-btn {
  top: 0;
  right: 0;
}

.shopping-bin-modal-title {
  font-size: 32px;
  color: #939393;
}

.shopping-bin-modal-text {
  color: #939393;
}

.modal-empty-bin .modal-content .container {
  max-width: 230px;
}

@media screen and (min-width: 480px) {
  .header__logo {
    width: auto;
  }

  .header .fa-mobile-alt {
    display: inline !important;
  }
}
@media screen and (min-width: 768px) {
  .header-bin__wrapper {
    font-size: 1rem;
  }

  .header-phone__text {
    font-size: 1rem;
  }

  .header .fa-shopping-basket {
    font-size: 18px;
  }

  .header-bin {
    width: 40px;
    height: 40px;
  }

  .bin-count {
    font-size: 10px;
  }

  .shopping-bin-modal-title {
    font-size: 52px;
  }

  .shopping-bin-modal-text {
    font-size: 32px;
  }

  .modal-empty-bin .modal-content .container {
    max-width: 550px;
  }
}
.top-menu-search {
  background-color: #fff;
  font-size: 9px;
}

.top-menu .collapse {
  right: 15px;
  top: 0;
  z-index: 1;
}

.top-menu .navbar {
  background-color: white !important;
}

.top-menu .form-control {
  font-size: 9px;
}

.top-list.active {
  background-color: #d58e32 !important;
  border-top: 3px solid black;
}

.top-list.active .nav-link {
  color: white;
}

.nav-pills .nav-link {
  padding: 13px 8px;
  color: black;
  font-size: 12px;
  border-bottom: none;
  border-radius: 0;
}

.top-menu .nav-pills {
  height: 3rem;
}

.top-menu .collapse .bg {
  background-color: #363636;
}

.tog-text {
  color: #a7a7a7;
  font-size: 9px;
}
.tog-text:hover {
  color: white;
  border-bottom: 1px solid white;
}

.bg {
  transition: none;
}

.top-menu .fa-times {
  color: white;
  font-size: 20px;
}

.collapse {
  transition: none !important;
}

.close-cross {
  right: 0;
}

.collapse-nav {
  margin-top: 50px;
}

@media screen and (min-width: 480px) {
  .top-menu .collapse .nav-link {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .top-menu .form-inline {
    width: 25% !important;
  }

  .top-menu .navbar {
    padding: 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .top-menu-search {
    font-size: 1rem;
  }

  .top-menu .form-control {
    font-size: 1rem;
  }

  .nav-pills .nav-link {
    padding: 26px 16px;
    font-size: 1rem;
  }

  .top-menu .nav-pills {
    height: 5rem;
  }
}
.top-slider {
  position: relative;
}
.top-slider::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  z-index: 3;
  background-image: linear-gradient(to bottom, #d6d6d6 0%, rgba(214, 214, 214, 0.4) 50%, rgba(214, 214, 214, 0.1) 100%);
}
.top-slider__control-wrapper {
  padding: 0 15px;
}
.top-slider__control {
  background-color: #2a2a2a !important;
  opacity: 1;
}
.top-slider__control:hover {
  background-color: #d58e32 !important;
  opacity: 1;
}

.carousel-item-1 {
  background-image: url(../img/top-slider/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.carousel-item-2 {
  background-image: url(../img/top-slider/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.carousel-item__text-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.carousel-item__title {
  font-size: 18px;
}

.carousel-item__subsc {
  font-size: 12px;
}

.carousel-item__text-wrapper {
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}

.top-slider__btn {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

@media screen and (min-width: 480px) {
  .carousel-item__text-wrapper {
    padding: 35px;
  }

  .carousel-item__title {
    font-size: 28px;
  }

  .carousel-item__subsc {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .carousel-item-1 {
    height: 450px;
  }

  .carousel-item-2 {
    height: 450px;
  }

  .carousel-item__text-wrapper {
    padding: 45px;
  }

  .carousel-item__title {
    font-size: 32px;
  }

  .carousel-item__subsc {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-item-1 {
    background-position: center -190px;
  }

  .carousel-item__title {
    font-size: 46px;
  }

  .carousel-item__subsc {
    font-size: 34px;
  }
}
.fa-sync {
  font-size: 26px;
  color: #000;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 50%;
}

.furniture--hidden {
  display: none;
}

.furniture {
  margin-bottom: 50px;
}
.furniture__title {
  font-size: 30px;
  font-weight: bold;
}
.furniture__btn-circle {
  display: block;
}
.furniture__card {
  margin: 0 auto;
  max-width: 230px;
}
.furniture__card:hover .furniture__card-price {
  background: #d58e32;
}
.furniture__card:hover .furniture__card-title {
  color: #d58e32;
}
.furniture__card:hover .furniture__card-cart {
  display: flex;
}
.furniture__card-img {
  position: relative;
  width: 262px;
  height: 260px;
  padding: 5px;
  background-color: #f4f5f7;
}
.furniture__card-title {
  font-size: 16px;
  font-weight: bold;
}
.furniture__card-line {
  background: #000;
}
.furniture__card-price {
  float: right;
  font-weight: bold;
  background: #000;
  color: #fff;
  padding: 6px;
}
.furniture__card-exch {
  border: 1px solid #000;
}
.furniture__card-fav {
  border: 1px solid #000;
}
.furniture__card-fav:hover {
  color: #d58e32;
  border: #d58e32;
}
.furniture__card-cart {
  display: none;
  position: absolute;
  bottom: 158px;
  font-size: 11pt;
  padding: 0 10px;
  width: 100%;
}
.furniture__card-view, .furniture__card-basket {
  font-size: 12px;
  background: #2a2a2a;
  color: white;
  padding: 12px 8px;
}
.furniture__card__filters-title {
  font-size: 14pt;
  font-weight: 500;
}

body {
  font-family: "Poppins", sans-serif;
}

.carousel-thumbnails-item--hidden {
  display: none;
}

.al-mdl {
  margin-top: 50%;
  transform: translate(0, -50%);
}

.fur-gallary-title {
  color: #d58e32;
  border-bottom: 3px solid #e2e2e2;
  position: relative;
}

.fur-gallary-title::before {
  content: "";
  border-bottom: 3px solid #d58e32;
  width: 44px;
  position: absolute;
  bottom: -2px;
}

.tabs--font {
  font-size: 12px;
}

.container {
  min-width: 321px;
}

.nav-link--color {
  color: black;
  font-size: 9px;
}

.nav-link--color:hover {
  color: #d58e32;
}

.nav-link--color.active {
  color: #d58e32 !important;
  border-top: 2px solid #d58e32 !important;
  background-color: #f4f5f7 !important;
}

.carousel-thumbnails .carousel-indicators img {
  width: 100%;
  display: block;
}

.carousel-thumbnails .carousel-indicators li {
  width: auto;
  height: auto;
  border: none;
  overflow: hidden;
  max-width: 70px;
  max-height: 70px;
}

.carousel-control--style {
  flex-basis: 35px;
  background-color: black;
  opacity: 1;
}

.carousel-control--style:hover {
  color: #da9f8a;
}

.carousel-img--size {
  width: 80%;
}

.carousel-item-bg-color {
  background-color: #f4f5f7;
}

.carousel-item--pad {
  padding-bottom: 40px;
}

.fur-feedback-title {
  font-size: 12px;
}

.list-bg {
  background-color: #d3d3d3 !important;
}

.fur-price {
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.fur-feedback {
  position: relative;
  margin-right: -10px;
  width: 160px;
  height: 65px;
  background-color: white;
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: black;
  border-radius: 60px;
  width: 65px;
  left: -50px;
  height: 65px;
  opacity: 0.5;
  z-index: 1;
}

.circle-text {
  color: white;
  font-size: 12px;
}

.fur-feedback::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: black;
  transform: rotate(-45deg);
  left: -25px;
  top: -25px;
}

.fur-feedback::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: black;
  transform: rotate(-45deg);
  right: -25px;
  bottom: -25px;
}

.rang {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.carousel-item-btns {
  font-size: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-btn {
  width: 27px;
  height: 27px;
  border: 1px solid black;
}

.carousel-btn:hover {
  color: #d58e32;
  border: 1px solid #d58e32;
}

.bedroom-wrapper {
  display: none;
}

.bedroom {
  background-color: #e8edf7;
  padding: 0 40px;
  padding-top: 30px;
}

.bedroom-img {
  left: 50%;
  transform: translate(-50%, 0);
  top: 220px;
}

.bdr-text1 {
  font-size: 44px;
  color: #79ae30;
}

.frm {
  font-size: 16px;
  color: #2a2a2a;
}

.brm-title {
  color: #d58e32;
  font-size: 33px;
  font-weight: 700;
}

.brm-btn {
  background-color: #79ae30;
  color: white;
}

@media screen and (min-width: 380px) {
  .fur-feedback {
    width: 180px;
    height: 75px;
  }

  .circle {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 440px) {
  .fur-price {
    bottom: 10px;
  }

  .fur-feedback {
    height: 80px;
    margin-right: -40px;
  }

  .circle {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 480px) {
  .carousel-thumbnails-item--hidden {
    display: block;
  }

  .nav-link--color {
    font-size: 12px;
  }

  .carousel-item--pad {
    padding-bottom: 0;
  }

  .fur-price {
    right: 0;
    transform: none;
    left: auto;
  }

  .fur-feedback {
    margin-right: 0;
  }

  .circle {
    width: 75px;
    height: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 85%;
  }
}
@media screen and (min-width: 760px) {
  .gallary-slider-wrapper {
    width: 50% !important;
    padding: 0 15px;
  }

  .fur-gallary .container {
    max-width: 720px;
  }

  .bedroom-wrapper {
    display: block;
    width: 50%;
    padding: 0 15px;
  }

  .fur-feedback {
    margin-right: 0;
    width: 120px;
    height: 60px;
  }

  .fur-feedback-title {
    font-size: 9px;
  }

  .nav-link--color {
    font-size: 9px;
  }

  .circle {
    width: 65px;
    height: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .fur-gallary .container {
    max-width: 1140px;
  }

  .fur-gallary-title {
    font-size: 30px;
  }

  .carousel-thumbnails .carousel-indicators li {
    min-width: 70px;
    min-height: 70px;
  }

  .nav-link--color {
    font-size: 16px;
  }

  .carousel-btn {
    width: 35px;
    height: 35px;
  }

  .fur-price {
    bottom: 30px;
  }

  .circle-text .text-center {
    font-size: 16px;
  }

  .fur-feedback {
    margin-right: 0;
    width: 220px;
    height: 100px;
  }

  .fur-feedback-title {
    font-size: 16px;
  }

  .circle {
    width: 90px;
    height: 90px;
  }

  .carousel-control--style {
    min-width: 35px !important;
  }
}
.prepend--bg {
  background: white;
  position: relative;
  color: #d58e32;
}

.btn-arrow--color {
  color: #d58e32;
}

.newsletter-title {
  color: #d58e32;
  display: none;
  font-size: 14px;
}

.newsletter {
  padding: 35px 0;
  background-color: #f2f2f2;
}

.newsletter .row {
  justify-content: center;
}

.in-2 {
  display: none;
}

.newsletter-form--font-size {
  font-size: 8px;
}

.prepend--bg::before {
  content: "|";
  width: 5px;
  height: 3px;
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  color: gainsboro;
}

@media screen and (min-width: 460px) {
  .newsletter-title {
    display: block;
  }

  .in-1 {
    display: none;
  }

  .in-2 {
    display: inline-block;
  }

  .newsletter-form--font-size {
    font-size: 10px;
  }

  .prepend--bg::before {
    top: calc(50% - 7px);
  }
}
@media screen and (min-width: 768px) {
  .newsletter-form--font-size {
    font-size: 14px;
  }

  .newsletter .container-fluid {
    padding: 0 30px;
  }

  .newsletter-title {
    font-size: 20px;
    margin-right: 60px;
  }

  .prepend--bg::before {
    top: calc(50% - 11px);
  }
}
.footer--bg {
  background-color: #363636;
  padding: 45px 0;
}

.nav-link--color {
  color: #a9a9a9;
}

.footer--bg .nav-link:hover {
  border-bottom: 1px solid white !important;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: bolder;
}

.footer-list {
  margin-bottom: 45px;
}

.pay-card {
  margin-right: 10px;
  margin-top: 10px;
  width: 1.9rem;
}

.footer-item .nav-link {
  font-size: 9px;
}

@media screen and (min-width: 395px) {
  .pay-cards {
    padding-right: 24px !important;
  }
}
@media screen and (min-width: 440px) {
  .pay-cards {
    padding-right: 42px !important;
  }
}
@media screen and (min-width: 480px) {
  .pay-card {
    width: 1.8rem;
  }

  .pay-cards {
    padding-right: 0 !important;
  }

  .footer-item .nav-link {
    font-size: 11px;
  }

  .footer-title {
    margin-bottom: 35px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer--bg .container {
    max-width: 740px;
  }

  .pay-card {
    width: 1.5rem;
  }

  .pay-cards {
    flex-wrap: nowrap !important;
  }
}
@media screen and (min-width: 900px) {
  .pay-cards {
    width: auto;
  }

  .footer--bg .container {
    max-width: 860px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--bg .container {
    max-width: 1140px;
  }

  .pay-card {
    width: auto;
  }
}
.copyright {
  background-color: #2a2a2a;
  padding: 40px 0;
}

.copyright-title {
  color: #767676;
  font-size: 12px;
}

.yout-ic {
  background-image: url(../img/footer/youtube.png);
  background-repeat: no-repeat;
  background-position: 5px -18px;
  margin-top: 11px;
  width: 16px;
  height: 16px;
}

.yout-ic:hover {
  background-position: 5px 0;
}

.icon--color {
  color: #a1a1a1;
}

.icon--color:hover {
  color: #d58e32;
}

@media screen and (min-width: 480px) {
  .copyright-container {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .copyright-container .nav-link {
    padding: 8px 8px;
  }

  .yout-ic {
    padding: 8px 16px !important;
  }
}
@media screen and (min-width: 580px) {
  .copyright-title {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .copyright-container {
    display: grid !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .copyright-title {
    text-align: center;
    font-size: 16px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  .copyright-container .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: auto;
  }
}
* {
  transition: 0.2s;
}

.stocks__sofa {
  position: relative;
  max-width: 555px;
}
.stocks__sofa-square {
  position: absolute;
  top: 18px;
  left: 20px;
  right: 18px;
  bottom: 32px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.stocks__room {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}
.stocks__room-sofa {
  display: block;
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 10px;
}
.stocks__discount {
  display: inline-block;
  padding: 10px;
  font-size: 46px;
  line-height: 36px;
  border: 5px solid #fff;
}
.stocks__office-chair {
  background-color: #e8edf7;
  max-width: 555px;
}
.stocks__heading {
  color: #d58e32;
}
.stocks__price {
  color: #d58e32;
}
.stocks__bed {
  background: #fbf3f7;
  max-width: 555px;
}

@media screen and (max-width: 992px) {
  .stocks__sofa {
    position: relative;
  }

  .stocks__sofa-square {
    position: absolute;
    max-width: 555px;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
}
.furniture__filters__furniture {
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
  background: #2a2a2a;
  border-radius: 50%;
}
.furniture__filters-categories {
  margin: 30px 0;
  padding-left: 15px;
}
.furniture__filters-categories-item {
  color: #2a2a2a;
  padding-bottom: 15px;
  display: block;
  list-style: none;
}
.furniture__filters-categories :hover {
  text-decoration: none;
  color: #d58e32;
}
.furniture__filters-color {
  margin: 30px 0;
  padding-left: 15px;
}
.furniture__filters-color-item {
  color: #2a2a2a;
  padding-bottom: 5px;
  display: block;
  list-style: none;
}
.furniture__filters-color-item label {
  padding: 0;
  padding-left: 5px;
}
.furniture__filters-red input[type=checkbox] + label:before {
  background: #f00;
  border: 0.1rem solid #f00;
}
.furniture__filters-red input[type=checkbox]:checked + label:before {
  background-color: red;
  border-color: red;
  color: #fff;
}
.furniture__filters-black input[type=checkbox] + label:before {
  background: #000;
  border: 0.1rem solid #000;
}
.furniture__filters-black input[type=checkbox]:checked + label:before {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.furniture__filters-yellow input[type=checkbox] + label:before {
  background: yellow;
  border: 0.1rem solid yellow;
}
.furniture__filters-yellow input[type=checkbox]:checked + label:before {
  background-color: yellow;
  border-color: yellow;
  color: #000;
}
.furniture__filters-blue input[type=checkbox] + label:before {
  background: blue;
  border: 0.1rem solid blue;
}
.furniture__filters-blue input[type=checkbox]:checked + label:before {
  background-color: blue;
  border-color: blue;
  color: #fff;
}
.furniture__filters-pink input[type=checkbox] + label:before {
  background: pink;
  border: 0.1rem solid pink;
}
.furniture__filters-pink input[type=checkbox]:checked + label:before {
  background-color: pink;
  border-color: pink;
  color: #fff;
}
.furniture__filters-green input[type=checkbox] + label:before {
  background: green;
  border: 0.1rem solid green;
}
.furniture__filters-green input[type=checkbox]:checked + label:before {
  background-color: green;
  border-color: green;
  color: #fff;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2rem;
  cursor: pointer;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "✔";
  border: 0.1rem solid #000;
  border-radius: 0.2rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.2rem;
  padding-bottom: 0.3rem;
  margin-right: 0.2rem;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

/*# sourceMappingURL=main.css.map */
